
.testimonials-patient-detail {
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 10px;
}


#owl-tareq.item img{
    display: block;
    width: 100%;
    height: auto;
}
.day{
	color: black;
}

.owl-prev{
	left: -9999999999px;
}
.owl-next {
    left: -99999999px;
    position: absolute;
}